In [277]:
import sys
sys.executable

'c:\\users\\karishma\\appdata\\local\\programs\\python\\python39\\python.exe'

# Ickle
*Data Analysis Library for Python*
<hr />

This Jupyter Notebook serves as the documentation for Ickle.

You can contribute to Ickle here: https://github.com/karishmashuklaa/ickle

## Table Of Contents
1. [Getting Started](#Getting-Started)
2. [DataFrame and Visual Representation](#DataFrame-and-Visual-Representation)
3. [Basic Properties](#Basic-Properties)
4. [Selection of Subsets](#Selection-of-Subsets)
5. [Basic and Aggregation Methods](#Basic-And-Aggregation-Methods)
6. [Non-Aggregation Methods](#Non-Aggregation-Methods)
7. [Other Methods](#Other-Methods)
8. [Arithmetic and Comparison Operators](#Arithmetic-And-Comparison-Operators)
9. [String-Only Methods](#String-Only-Methods)
10. [Pivot Table](#Pivot-Table)
11. [Read CSV](#Read-CSV)

## Getting Started

### Installation

Ickle can be installed via pip.

`pip install ickle`

### Import

`import ickle as ick`

## DataFrame and Visual Representation

### DataFrame
A `DataFrame` holds two dimensional heterogenous data. It accepts dictionary as input, with Numpy arrays as values and strings as column names.

Parameters:
- `data`: A dictionary of strings mapped to Numpy arrays. The key will become the column name.

In [278]:
import numpy as np
import ickle as ick

In [279]:
name = np.array(['John', 'Sam', 'Tina', 'Josh', 'Jack', 'Jill'])
place = np.array(['Kolkata', 'Mumbai', 'Delhi', 'Mumbai', 'Mumbai', 'Mumbai'])
weight = np.array([57, 70, 54, 59, 62, 70])
married = np.array([True, False, True, False, False, False])

data = {'name': name, 'place': place, 'weight': weight, 'married': married}
df = ick.DataFrame(data)

### Visual Representation

`DataFrame` can be displayed in the following manner

In [280]:
df

We will use the above `DataFrame` throughout the notebook

## Basic Properties
1. [len](#len)
2. [columns](#columns)
3. [shape](#shape)
4. [values](#values)
5. [dtypes](#dtypes)

### `len`
returns: the number of rows in the `DataFrame`

In [281]:
len(df)

6

### `columns`
returns: list of column names

In [282]:
df.columns

['name', 'place', 'weight', 'married']

### Modify exisiting column names

In [283]:
df.columns = ['NAME', 'PLACE', 'WEIGHT', 'MARRIED']
df

### `shape` 
returns: two-item tuple of number of rows and columns in the DataFrame

In [284]:
df.shape

(6, 4)

### `values`
returns: a single 2D NumPy array of all the columns of data.

In [285]:
df.values

array([['John', 'Kolkata', 57, True],
       ['Sam', 'Mumbai', 70, False],
       ['Tina', 'Delhi', 54, True],
       ['Josh', 'Mumbai', 59, False],
       ['Jack', 'Mumbai', 62, False],
       ['Jill', 'Mumbai', 70, False]], dtype=object)

### `dtypes`
returns: a two-column `DataFrame` of column names in one column and their data type in the other

In [286]:
df.dtypes

## Selection of Subsets
1. [Select a single column](#Select-a-single-column)
2. [Select multiple columns](#Select-multiple-columns)
3. [Boolean selection](#Boolean-selection)
4. [Simultaneuous selection of row and column](#Simultaneuous-selection-of-row-and-column)
6. [Add new / Overwrite existing columns](#Add-new-/-Overwrite-existing-columns)

### Select a single column
by passing the name of column as a string

In [287]:
df['NAME']

### Select multiple columns 
by passing column names as a list of strings

In [288]:
df[['NAME', 'PLACE']]

### Boolean Selection

In [289]:
bool_sel = df['WEIGHT'] > 60

df[bool_sel]

### Simultaneuous selection of row and column
df[row, col]

In [290]:
df[0,2]

### Select columns as strings

In [291]:
df[0, 'WEIGHT']

### Select rows as slices

In [292]:
df[:1, 'WEIGHT']

### Select rows as booleans and lists

In [293]:
bool_row = df['MARRIED']

In [294]:
df[bool_row, 'WEIGHT']

### Add new / Overwrite existing columns

In [295]:
df['AGE'] = np.array([21, 41, 22, 42, 32, 25])
df

## Basic And Aggregation Methods
Basic Methods:
1. [head()](#head())
2. [tail()](#tail())

Aggregation Methods:
1. [min()](#min())
2. [max()](#max())
3. [mean()](#mean())
4. [median()](#median())
5. [sum()](#sum())
6. [var()](#var())
7. [std()](#std())
8. [all()](#all())
9. [any()](#any())
10. [argmax()](#argmax())
11. [argmin()](#argmin())

### head(n)
returns: the first n rows. By default n=5

In [296]:
df.head()

### tail(n)
return the last n rows. By default n=5

In [297]:
df.tail()

### Aggregation Methods

All aggregation methods are applied only to columns of the `DataFrame`

## min()

In [298]:
df.min()

## max()

In [299]:
df.max()

## max()

In [300]:
df.median()

## mean()

In [301]:
df.mean()

## sum()

In [302]:
df.sum()

## var()

In [303]:
df.var()

## std()

In [305]:
df.std()

## all()

In [307]:
df.all()

## any()

In [309]:
df.any()

## argmax()

In [311]:
df.argmax()

## argmin()

In [313]:
df.argmin()

## Other Methods 
1. [isna()]
2. [count()]
3. [unique()]
4. [nunique()]
5. [value_counts()]
6. [rename()]
7. [drop()]
8. [diff()]
9. [pct_change()]
10. [sort_values()]
11. [sample()]

In [314]:
df.isna()

In [315]:
df.count()

In [316]:
dfs = df.unique()
dfs[3]

In [317]:
df.nunique()

In [318]:
dfs = df.value_counts()
dfs[1]

In [319]:
df.rename({'WEIGHT': 'WEIGHT (kg)'})

In [320]:
df.drop('AGE')

## Non Aggregation Methods
1. [abs()]
2. [cummin()]
3. [cummax()]
4. [cumsum()]
5. [clip()]
6. [round()]
7. [copy()]

In [321]:
df.abs()

In [322]:
df.cummin()

In [323]:
df.cummax()

In [324]:
df.cumsum()

In [325]:
df.clip(lower=55, upper=60)

In [326]:
df.round(n=1)

In [327]:
df.copy()

In [328]:
df.diff(n=1)

In [329]:
df.pct_change(n=1)

## Arithmetic And Comparison Operators 
1. [Addition](#Addition)
2. [Subtraction](#Subtraction)
3. [Multiplication](#Multiplication)
4. [Division](#Division)
5. [Floor Division](#Floor-Division)
6. [Power](#Power)
7. [Greater than](#Greater-than)
8. [Less than](#Less-than)
9. [Greater than equal to](#Greater-than-equal)
10. [Lesser than equal to](#Lesser-than-equal)
11. [Not Equal](#Not-Equal)
12. [Equal](#Equal)

*Arithemtic and Comparison Operators only work with numerical columns*

In [330]:
df_op = df['WEIGHT']

### Addition

In [331]:
df_op + 2

In [332]:
2 + df_op

### Subtraction

In [333]:
df_op - 2

In [334]:
2 - df_op

### Multiplication

In [335]:
df_op * 2

In [336]:
2 * df_op

### Division

In [337]:
df_op / 2

In [338]:
2 / df_op

### Floor Division

In [339]:
df_op // 2

In [340]:
2 // df_op

### Power

In [341]:
df_op ** 3

In [342]:
3 ** df_op

### Greater than

In [343]:
df_op > 50

### Less than

In [344]:
df_op < 55

### Greater than equal

In [345]:
df_op >= 75

### Lesser than equal

In [346]:
df_op <= 55

### Not Equal

In [347]:
df_op != 55

### Equal

In [348]:
df_op == 70

## String Only Methods 
All the strings behave in the same manner as built-in string functions in Python.
These methods can be used only with `columns`

1. [capitalize](#capitalize(col))

### capitalize(col)

In [353]:
df.str.capitalize('NAME')

### center(col, width, fillchar=None)

In [391]:
df.str.center('NAME', 10, 'a')

### count(col, sub, start=None, stop=None)

In [393]:
df.str.count('PLACE', 'Mumbai')

### endswith()

In [394]:
df.str.endswith('NAME', 'n')

### startswith()

In [395]:
df.str.startswith('NAME', 'J')

### find()

In [400]:
df.str.find('NAME', 'Tina')

### len()

In [361]:
df.str.len('NAME')

### get()

In [403]:
df.str.get('NAME', 0)

### index()

### isalnum()

In [442]:
df.str.isalnum('NAME')

### isalpha()

In [439]:
df.str.isalpha('NAME')

### isdecimal()

In [438]:
df.str.isdecimal('NAME')

### isnumeric()

In [437]:
df.str.isnumeric('NAME')

### isspace()

In [433]:
df.str.isspace('NAME')

### istitle()

In [432]:
df.str.istitle('NAME')

### lower()

In [431]:
df.str.islower('NAME')

### isupper()

In [430]:
df.str.isupper('NAME')

In [429]:
df.str.lstrip('NAME', 'o')

In [428]:
df.str.rstrip('NAME', 'o')

In [427]:
df.str.strip('NAME', 'o')

### replace()

In [424]:
df.str.replace('NAME', 'John', 'Cena')

### swapcase()

In [423]:
df.str.swapcase('NAME')

### title()

In [422]:
df.str.title('NAME')

### lower()

In [421]:
df.str.lower('NAME')

### upper()

In [420]:
df.str.upper('NAME')

### zfill()

In [417]:
df.str.zfill('NAME', 10)

### encode()

In [415]:
df.str.encode('NAME')

## Pivot Table
Creates a pivot table from one or two 'grouping' columns

Parameters

`rows`: str of column name to group by (Optional)

`columns`: str of column name to group by (Optional)

`values`: str of column name to aggregate (Required)

`aggfunc`: str of aggregation function

In [349]:
df.pivot_table(rows='NAME', columns='PLACE', values='WEIGHT', aggfunc='mean')

## Read CSV

read_csv(file: string of file location)

In [385]:
data = ick.read_csv('./dataset/employee.csv');
data.head()