In [1]:
import sys
sys.executable

'C:\\Users\\Karishma\\anaconda3\\envs\\ickle\\python.exe'

In [2]:
import numpy as np
import ickle as ick

In [3]:
name = np.array(['John', 'Sam', 'Tina'])
place = np.array(['Kolkata', 'Mumbai', 'Delhi'])

data = {'name': name, 'place': place}
df = ick.DataFrame(data)

In [4]:
df.shape

(3, 2)

In [5]:
len(df)

3

In [6]:
df.columns

['name', 'place']

In [7]:
df.values

array([['John', 'Kolkata'],
       ['Sam', 'Mumbai'],
       ['Tina', 'Delhi']], dtype=object)